@{
    ViewBag.Title = "Home Page";
}

<div class="Titulos">
    <h3 class="card-title text-center mt-3">Bienvenidos</h3>
    <h1 class="text-center"><span>E</span> - SHOPPER</h1>
    <h2 class="text-center">E - Comercio en linea</h2>
    <p class="text-center">Enterate de nuestros productos y promociones que tenemos para ti</p>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary colorboton">Comprar</button>
    </div>
</div>